/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

.reveal {
  color: black;

  .footer {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 60%;
  }

  .slides {
    h1, h2 {
      color: black;
    }

    section.highlight {
      h1, h2 {
        color: white;
      }
      color: white;
      p {
        background-color: rgba(0, 0, 0, .6);
      }
    }

    section p,
    section div {
      background-color: rgba(255, 255, 255, .6);
    }

    .ref {
      padding-left: .5ex;
      position: relative;
      top: -0.5em;
      font-size: 60%;
      color: #666;
    }
  }
}
